<!DOCTYPE html>
<html>
	<head>
		<title>Slippy Ride GDL</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<style>
			html, body, #map-canvas {
				height: 100%;
				margin: 0;
				padding: 0;
			}	
		</style>
		<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/location-reporter.js"></script>
		
		<script type="text/javascript">
			
			/**
			 * Initializes the user's map, socket and control events
			 */
			function initialize() {
				map = new google.maps.Map(document.getElementById('map-canvas'), {
					zoom: 13,
					center: {lat: 20.675, lng: -103.344}
				});
				
				initializeSocket();
				
				// Report user's location as stated by the browser
				reportLocationButton.onclick = function(){
					myUserName = nameField.value;
					searchRadius = searchRadiusField.options[searchRadiusField.selectedIndex].value;
					var userLocation = getBrowserGeolocation();
				};
				
				// When the radius field is changed, update the map and query variables
				searchRadiusField.onchange = function(){
					if (!! radiusMarker){
						// Update drawing
						searchRadius = searchRadiusField.options[searchRadiusField.selectedIndex].value;
						radiusMarker.setRadius(parseInt(searchRadius));
						
						// Notify server of change
						var updatedRadius = {"event": "updated-user-search-radius", "data": {"userName": myUserName, "searchRadius": searchRadius}};
						socket.send(JSON.stringify(updatedRadius));
						
						// Cleanup
						busMarkers = deleteOutOfBoundsMarkers(busMarkers, markers[myUserName].getPosition(), searchRadius);
					}
				}
			}
			
			google.maps.event.addDomListener(window, 'load', initialize);
	
	   </script>
	</head>
	<body>
    <div id="controls">
		Nombre: <input type="text" id="nameField">
		Limitar b&uacutesqueda a: <select id="searchRadiusField">
			<option value="1000">1km.</option>
			<option value="2000">2km.</option>
			<option value="3000">3km.</option>
			<option value="0">Sin l&iacutemite</option>
		</select>
		<input type="button" id="reportLocationButton" value="Reportar ubicación"> 
    </div>
    <div id="map-canvas"></div>
  </body>
</html>