<!DOCTYPE html>
<html>
  <head>
    <title>Slippy Ride GDL</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
	<script type="text/javascript" src="/static/js/location-reporter.js"></script>
    <script type="text/javascript">
		var map;
		var routes = [];
		
		/**
		 * Initializes the simulator map, routes, socket and control events
		 */
		function initialize() {
		  var mapOptions = {
		    zoom: 12,
		    center: new google.maps.LatLng(20.65, -103.35)
		  };
		  map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);
			
			// Load geojson with routes	
			map.data.loadGeoJson('/static/geojson/routes.geojson');
			
			initializeSocket();
			
			// Apply style to routes
			var featureStyle = {
				strokeColor: 'blue',
				strokeWeight: 1,
				strokeOpacity: 0.5
			}
			map.data.setStyle(featureStyle);
			
			// Start simulation
			$("#startSimulation").click(function(){
				
				// For each bus route in the geojson...
				map.data.forEach(function(feature)
	      		{
	      			// State that it's a simulator session
					isSimulator = true;
					
					// Start simulating bus movement
	      			processRoutes(feature);
	      		});
			});
			
			// Stop simulation
			$("#stopSimulation").click(function(){
				cleanupAndExit();
				location.reload();
			});
		}
		
		/**
		 * Initializes each route with the parameters specified by the user and calls
		 * the function to start the simulation
		 * @param {string} route - The user known route number string of the bus to simulate.
		 */
		function processRoutes(route) {
			var routeNumber = route.getProperty("RUTA");
			var routeGeometry = route.getGeometry();
			var routeUnits = $("#unitsPerRoute").val();
			var routePointsNumber = routeGeometry.getLength();
			
			// If the user didn't specify the number of buses per route to simulate,
			// use the given geojson appropriate property
			if (routeUnits == 0){
				routeUnits = route.getProperty("FLOTA");
			}
			
			// Add to routes array
			var route = {number: routeNumber, geometry: routeGeometry};
			
			routes[routeNumber]=route;
				
			// Call startRoute for every route
			for (var i = 0; i < routeUnits; i++){
				// Get a random point on the route
				var randomPointNumber = Math.floor((Math.random() * (routePointsNumber - 1)) + 1);
				startRoute(routeNumber, routeGeometry.getAt(randomPointNumber), randomPointNumber);
			}
		}
		
		/**
		 * Starts a new bus route and initiates movement by calling the moveBus function
		 * @param {string} routeNumber - The user known route number string of the bus to simulate.
		 * @param {Object} point - A google latlon object with the coordinates of a point in the route at the given index.
		 * @param {number} index - The index of the random point within the route from where to start the simulation.
		 */
		function startRoute(routeNumber, point, index){
			var direction = 1;
			
			// Make sure It's not the last point
			if (routes[routeNumber].geometry.getLength() - 1 == index){
				direction = -1;
			}
			
			// Create ID hash
			var current_date = (new Date()).valueOf().toString();
			var random = Math.random().toString();
			var hash = CryptoJS.SHA1("routeNumber" + index + current_date + random);
			var idHash = hash.toString(CryptoJS.enc.Hex);
			        
			// Emit bus location event
		    var busLocationReporter = {"event": "new-bus-location", "data": { "id": idHash, "routeNumber": routeNumber, "lat": point.lat(), "lng": point.lng()}};
			socket.send(JSON.stringify(busLocationReporter));
			
			moveBus(idHash, point, index, direction, routeNumber, routes[routeNumber].geometry);
		
		}
		
		/**
		 * Starts moving the bus along the route at the user specified interval.
		 * The function will call itself recursively.
		 * @param {string} id - The hash used to identify the bus.
		 * @param {Object} point - A google latlon object with the coordinates of a point in the route at the given index.
		 * @param {number} index - The index of the random point within the route.
		 * @param {number} direction - One of 1 or -1 indicating if the bus will be moving forward or in reverse.
		 * @param {string} routeNumber - The user known route number string of the bus to simulate.
		 * @param {Object[]} routeGeometry - The geometry of the bus route.
		 */
		function moveBus(id, point, index, direction, routeNumber, routeGeometry){
			var frequency = ($("#frequency").val()) * 1000;
			
			setTimeout(function(){
				var nextIndex = index + direction;
				var newPosition = routeGeometry.getAt(nextIndex);
				
				if (newPosition == null){
					console.log(id, nextIndex, routeGeometry);
				}
				// Move point
				// Emit bus location event
		    	var busLocationReporter = {"event": "updated-bus-location", "data": {"id": id, "routeNumber": routeNumber, "lat": newPosition.lat(), "lng": newPosition.lng()}};
				socket.send(JSON.stringify(busLocationReporter));
		
				// If we are on the first point go forward, if we are on the last, go backwards
				if (nextIndex == 1){
					direction = 1;
				} else if (nextIndex == routeGeometry.getLength() - 1){
					direction = -1;
				}	
		      moveBus(id, newPosition, nextIndex, direction, routeNumber, routeGeometry);
			},frequency);
		}

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="controls">
       No. de unidades por ruta: <input type="text" id="unitsPerRoute" style="width:30px;">
        Frecuencia (en segundos): <input type="text" id="frequency" style="width:30px;">
       <input type="button" id="startSimulation" value="Iniciar simulación">
       <input type="button" id="stopSimulation" value="Detener simulación">
    </div>
    <div id="map-canvas"></div>
  </body>
</html>